<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginService" />
                <binding name="BasicHttpBinding_IQueryService" />
                <binding name="BasicHttpBinding_IRoutingService" />
                <binding name="BasicHttpBinding_IAdministrationService" />
                <binding name="BasicHttpBinding_IMappingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rn-pd-teamcity3.roadnet.local/3.9.22.1/Login/LoginService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
                contract="Apex.ILoginService" name="BasicHttpBinding_ILoginService" />
            <endpoint address="http://rn-pd-teamcity3.roadnet.local/3.9.22.1/Query/QueryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueryService"
                contract="Apex.IQueryService" name="BasicHttpBinding_IQueryService" />
            <endpoint address="http://rn-pd-teamcity3.roadnet.local/3.9.22.1/Routing/RoutingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoutingService"
                contract="Apex.IRoutingService" name="BasicHttpBinding_IRoutingService" />
            <endpoint address="http://rn-pd-teamcity3.roadnet.local/3.9.22.1/Administration/AdministrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministrationService"
                contract="Apex.IAdministrationService" name="BasicHttpBinding_IAdministrationService" />
            <endpoint address="http://rn-pd-teamcity3.roadnet.local/3.9.22.1/Mapping/MappingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMappingService"
                contract="Apex.IMappingService" name="BasicHttpBinding_IMappingService" />
        </client>
    </system.serviceModel>
</configuration>